/*
.game-container {
    color: white;
    background-color: #718093;
    border: 7px solid white;
    border-radius: 10px;
}
*/
/*
.container {
    border: 7px solid white;
    border-radius: 10px;
}
*/

/*
.game-body {
    background-color: #1a1a1a; 
    color: #ffffff;
}
*/

/*body {
    background-color: #1a1a1a; 
    color: #ffffff;
}*/